# Node modules
node_modules/

# macOS system files
.DS_Store

# dotenv environment variables
.env

# Expo + build files
*.log
.expo
.expo-shared
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem

# Android build
android/app/build/
build/

# Firebase secrets backup (if any)
firebase-debug.log
